<div class="dashbox">
  <p class="title">Jira</p>

  <% if measure('open_issues') %>

    <span class="big">
      <p><%= format_measure('open_issues', :suffix => ' issues') -%></p>
      <p><%= measure('open_issues').url -%"></p>
    </span>
  
  <% else %>
    No Data
  <% end %>
</div>
