<div class="dashbox">
  <p class="title">Jira</p>

  <% if measure('issues_count') %>
    <span class="big">
      <p><%= format_measure('issues_count', :suffix => ' issues') -%></p>
    </span>
  <% else %>
    No filter recorded.
  <% end %>
</div>
