<div class="dashbox">
  <p class="title">Jira</p>

  <% if measure('issues') %>

    <span class="big">
      <p><a href='<%= measure('issues_url').data -%>'><%= format_measure('issues', :suffix => ' issues') -%></a></p>
    </span>

    <% measure('issues').text_value.split(",").each do |priority_with_size|
         priority_with_size_array = priority_with_size.split("=")  %>

      <p><%= priority_with_size_array[1]-%> <%= priority_with_size_array[0] -%></p>

<% end %>
  <% else %>
    No Data
  <% end %>
</div>
