<div class="dashbox">
  <p class="title">Jira</p>

  <% if measure('open_issues') %>

    <span class="big">
      <p><a href='<%= measure('open_issues').url -%>'><%= format_measure('open_issues', :suffix => ' issues') -%></a></p>
    </span>
  
  <% else %>
    No Data
  <% end %>
</div>
